body{
background-image:url("images/order.jpg");
background-size:cover;
}
.delivery{
color:white;
background-color:black;
width:700px;
height:1000px;
margin-left:0px;
border-radius:15px;
padding-top:30px;
font-size:20px;
padding-left:60px;
opacity:.9;
border:2px solid white;
border-radius:50px;
}
#close{
width:30px;
border-radius:60px;
float:right;
cursor:pointer;
background-color:red;
color:white;
font-size:15px;
border:3px solid white;
}
#close:hover{
background-color:red;
color:white;
font-size:24px;
}
.delivery input{
border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	width:250px;

}
#menu{
width:150px;
margin-top:20px;
margin-bottom:10px;
margin-right:500px;
border-radius:50px;
height:50px;
background-color:blue;
color:white;
font-weight:bold;
}
#order{
width:150px;
margin-left:80px;
margin-top:20px;
float:left;
border-radius:50px;
height:50px;
background-color:green;
color:white;
font-weight:bold;
}
#cancel{
width:150px;
margin-right:100px;
margin-top:20px;
float:right;
border-radius:50px;
height:50px;
background-color:red;
color:white;
font-weight:bold;
}